// couleurs
$brown1: rgb(37, 21, 11);
$parchemin: rgba(187, 176, 159, 0.644);
$parchemin2: rgba(187, 176, 159, 0.822);
$green: rgb(136, 184, 96);
$green2: rgb(40,75,35);
$code: rgb(131, 56, 7);
$title: rgb(44, 15, 110);
$footer: rgb(40,75,35);

// polices
@font-face {
  font-family: "DancingScript";
  src: url(../assets/fonts/DancingScript-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Comic";
  src: url(../assets/fonts/ComicRelief.ttf);
}
@font-face {
  font-family: "Inconsolata";
  src: url(../assets/fonts/Inconsolata-Regular.ttf);
}

$font1: DancingScript, sans-serif;
$font2: Comic, sans-serif;
$font3: Inconsolata, "Courrier New";


// paramètres généraux
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  li {
    list-style: none;
  }
  
}

body {
  font-family: $font2;
  background: url(../assets/img/photogrimoire.jpg) center/cover;
  height: 100vh;
  color: $brown1;
  // user-select: none; /*pour ne pas autoriser la sélection du nom de la case*/

   
    h1 {
      font-size: 2.8rem;
      font-weight: 700;
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;
      font-family: $font1;
    }

}
